h1 {
    text-align: center;
}
.entry {
    width: 90%;
    margin: 0 auto;
}
.entry-header__photo {
    width: 15%;
    display: inline-block;
    vertical-align: baseline;
    
}
.entry-header__name {
    margin-left: 0.3em;
    display: inline-block;
    vertical-align: baseline;
    margin: 0;
    
}
.entry-header {
    padding-bottom: 3px;
    border-bottom: 2px solid #e2e2e2;
    margin-bottom: 10px;
}
.entry-subsection__heading {
    background: #FC644E;
    color: #fff;
    padding: 0.3em 0.3em;
    margin: 0.3em 0em;
}
.entry-entity {
    border: 1px solid #222;
    margin-bottom: 0.5em;
    padding: .5em;
}

@media screen and (min-width: 510px) {
    .entry-subsection {
        float: left;
        width: 50%;
        padding: 3px;
    }
    .entry-header {
        margin: 0 3px 10px;
    }
}
@media screen and (min-width: 900px){
    .entry-subsection {
        float: left;
        width:33.33%;
    }
}